:root {
  --bs-emphasis-color-rgb: 255, 220, 46;
  --bs-body-color: #042038;
}

header {
  background-color: #042038;
}

header img {
  max-width: 180px;
}

header h1 {
  font-family: "Dancing Script", cursive;
  color: #ffdc2e;
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 220, 46, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.btn-outline-success {
  --bs-btn-color: #ffdc2e;
  --bs-btn-border-color: #ffdc2e;
  --bs-btn-hover-color: #042038;
  --bs-btn-hover-bg: #ffdc2e;
  --bs-btn-hover-border-color: #ffdc2e;
  --bs-btn-active-bg: #ffdc2e;
  --bs-btn-active-border-color: #ffdc2e;
  --bs-btn-disabled-color: #ffdc2e;
  --bs-btn-disabled-border-color: #ffdc2e;
}

main section {
  margin: 36px;
}

.btn-primary {
  --bs-btn-color: #ffdc2e;
  --bs-btn-bg: #042038;
  --bs-btn-border-color: #042038;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #042038;
  --bs-btn-hover-border-color: #042038;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #042038;
  --bs-btn-active-border-color: #042038;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #042038;
  --bs-btn-disabled-border-color: #042038;
}

#planeje-sua-viagem {
  background-color: #ffdc2e;
}

#form-pesquisa {
  border-color: #042038;
  background-color: #ffdc2e;
}

form label {
  color: #042038;
}

.form-control,
.form-select {
  border: 2px solid #042038;
}

button {
  background-color: #042038;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.sectionTitle {
  color: #042038;
  text-align: center;
  border-bottom: 1px solid #042038;
  padding: 6px 6px;
  margin-bottom: 36px;
}

.sectionSubTitle {
  padding: 6px;
}

.card {
  margin-bottom: 12px;
}

.carousel-inner img {
  max-height: 50vh;
}

footer {
  background-color: #042038;
}

.text-body-secondary {
  color: #ffdc2e;
}

@media (max-width: 767px) {
  header img {
    max-width: 100px;
  }

  .carousel-item img {
      height: 280px;
  }

}